body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('images/background.jpg');
}

ul {
    list-style-type: none;
}

a {
    color: #767D82 !important;
}

.nav-link {
    color: darkgray !important;
}

.platform-link-image {
    margin-top: 60px;
    width: 70px;
    height: 70px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.platform-link-image:hover {
    width: 72px;
    height: 72px;
}


/* Bootstrap override */
.jumbotron {
    background: none !important;
}

.card-title {
    color: rgb(27, 27, 27) !important;
}
