ul {
    list-style-type: none;
}

a {
    color: #767D82 !important;
}

#main-profile-image {
    width: 60%;
}

.platform-link-image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.platform-link-image:hover {
    width: 85%;
}