---
import LinkCard from "../components/LinkCard.astro";
---

<body>
    <h1>Documentation for Cadence Tools 23.1</h1>
    <p>General guides are listed first. Next are documents grouped by tool sorted in this order: reference guides, user guides, FAQs, known problems, what's new.</p>

    <div class="doc-category">
        <h2 class="doc-category-title">Guides</h2>
        <div class="doc-category">
            <h3 class="doc-category-title">Allegro Platform</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/pcbsystemreqs.pdf" title="Platform System Requirements" />
                <LinkCard href="/cadence231/spbInstTS.pdf" title="Release Installation and Licensing: Basic Troubleshooting on Windows" />
                <LinkCard href="/cadence231/pcbInstall.pdf" title="Release Installation Guide for Windows" />
                <LinkCard href="/cadence231/spbPN.pdf" title="What's New" />
                <hr>
                <LinkCard href="/cadence231/sklangref.pdf" title="Cadence SKILL Language Reference" />
                <LinkCard href="/cadence231/caeviews.pdf" title="CAE Views HDL Programming Guide" />
                <LinkCard href="/cadence231/orcadtclgsg.pdf" title="Getting Started with OrCAD X TCL" />
                <LinkCard href="/cadence231/orctclsample.pdf" title="OrCAD X TCL Sample Scripts" />
                <LinkCard href="/cadence231/symSkill.pdf" title="Symphony SKILL Development Guide" />
                <hr>
                <LinkCard href="/cadence231/dessync.pdf" title="Design Synchronization and Packaging User Guide" />
                <LinkCard href="/cadence231/dessync_tut.pdf" title="Design Synchronization Tutorial" />
                <LinkCard href="/cadence231/pdf_publisher.pdf" title="Design Publisher User Guide" />
                <LinkCard href="/cadence231/vedit_tut.pdf" title="Design Variance Tutorial" />
                <LinkCard href="/cadence231/vedit_ug.pdf" title="Design Variance User Guide" />
                <LinkCard href="/cadence231/fe_cpm_dir.pdf" title="Front-End CPM Directive Reference Guide" />
                <LinkCard href="/cadence231/pcb_flows.pdf" title="Front-to-Back User Guide" />
                <LinkCard href="/cadence231/propref.pdf" title="Platform Properties Reference" />
                <LinkCard href="/cadence231/rel_mgmt.pdf" title="Publish for Manufacturing User Guide" />
                <LinkCard href="/cadence231/PCBmigration.pdf" title="Migration Guide for Allegro X Platform Products" />
                <hr>
                <LinkCard href="/cadence231/fsp_alteraoct.pdf" title="Working with Altera On-Chip Termination" />
                <LinkCard href="/cadence231/fsp_dci.pdf" title="Working with DCI Cascading" />
                <LinkCard href="/cadence231/netgroup.pdf" title="Working With Net Groups and Port Groups" />
                <LinkCard href="/cadence231/algroncdrill.pdf" title="Working with the NC Drill Environment" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">Allegro X User Guide</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/algromast.pdf" title="Allegro X User Guide" />
                <LinkCard href="/cadence231/algrostart.pdf" title="Getting Started with Physical Design" />
                <LinkCard href="/cadence231/algrolibdev.pdf" title="Defining and Developing Libraries" />
                <LinkCard href="/cadence231/algrologic.pdf" title="Transferring Logic Design Data" />
                <LinkCard href="/cadence231/algrolay.pdf" title="Preparing the Layout" />
                <LinkCard href="/cadence231/algrodesrls.pdf" title="Creating Design Rules" />
                <LinkCard href="/cadence231/algroplace.pdf" title="Placing the Elements" />
                <LinkCard href="/cadence231/algroroute.pdf" title="Routing the Design" />
                <LinkCard href="/cadence231/algroman.pdf" title="Preparing Manufacturing Data" />
                <LinkCard href="/cadence231/algrodescmp.pdf" title="Completing the Design" />
                <LinkCard href="/cadence231/algroskill.pdf" title="SKILL Reference" />
                <LinkCard href="/cadence231/rfpcbug.pdf" title="Working with RF PCB" />
                <LinkCard href="/cadence231/algroHDI.pdf" title="High Density Interconnect (HDI)" />
                <LinkCard href="/cadence231/algroATE.pdf" title="Allegro Timing Environment" />
                <LinkCard href="/cadence231/algrosymphony.pdf" title="Getting Started with Symphony Team Design" />
                <LinkCard href="/cadence231/algrodesignparam.pdf" title="Allegro Layout Editor Design Parameters Reference" />
                <LinkCard href="/cadence231/algroenvvar.pdf" title="Allegro Layout Editor Environment Variables Reference" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">Best Practices</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/idxbp.pdf" title="Electrical Design, Mechanical Design Incremental Data Exchange" />
                <LinkCard href="/cadence231/embbp.pdf" title="Embedded Component Design" />
                <LinkCard href="/cadence231/BP_si_solver.pdf" title="Working with Allegro PCB SI Field Solvers" />
                <LinkCard href="/cadence231/algrobackdrill.pdf" title="Working with Backdrilling" />
                <LinkCard href="/cadence231/algrodespart.pdf" title="Working with Design Partitions" />
                <LinkCard href="/cadence231/algroDFM.pdf" title="Working with Design True DFM" />
                <LinkCard href="/cadence231/algroidf.pdf" title="Working with IDF" />
                <LinkCard href="/cadence231/algroDFA.pdf" title="Working with Real-Time DFA Analysis" />
                <LinkCard href="/cadence231/algroRigidFlex.pdf" title="Working with Rigid-Flex Designs" />
                <LinkCard href="/cadence231/algroshapes.pdf" title="Working with Shapes" />
            </ul>
        </div>
    </div>

    <hr>

    <div class="doc-category">
        <h2 class="doc-category-title">Advanced Package Designer (APD)</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/3dvu.pdf" title="3D Design Viewer User Guide" />
            <LinkCard href="/cadence231/cmdrefmast.pdf" title="Physical Layout Command Reference" />
            <hr>
            <LinkCard href="/cadence231/algrofreeviewer.pdf" title="Free Physical Viewer" />
            <LinkCard href="/cadence231/icpmast.pdf" title="IC Packaging: Allegro X Advanced Package Designer" />
            <LinkCard href="/cadence231/sipdiestack.pdf" title="Setting Up a Die Stack" />
            <LinkCard href="/cadence231/aprTut.pdf" title="Tutorial" />
            <LinkCard href="/cadence231/wb_tut.pdf" title="Wire Bond Tutorial" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Capture</h2>
        <div class="doc-category">
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/orcadmsgref.pdf" title="Messages Reference Guide" />
                <hr>
                <LinkCard href="/cadence231/cap_ug.pdf" title="User Guide" />
                <hr>
                <LinkCard href="/cadence231/orcadx_tut.pdf" title="Capture with OrCAD X Presto Tutorial" />
                <LinkCard href="/cadence231/orcad_tut.pdf" title="Capture with PCB Editor Tutorial" />
                <LinkCard href="/cadence231/capture_cm.pdf" title="Constraint Manager" />
                <LinkCard href="/cadence231/fsp_capture.pdf" title="FPGA System Planner Flow Guide" />
                <LinkCard href="/cadence231/capinfomodel.pdf" title="Information Model" />
                <LinkCard href="/cadence231/orx_lib_mgmt.pdf" title="Library and Part Management in OrCAD X Capture" />
                <LinkCard href="/cadence231/orx_lib_part_tut.pdf" title="Part Authoring Tutorial" />
                <LinkCard href="/cadence231/pspcaptut.pdf" title="Simulating an SMPS Design using Capture-PSpice Flow" />
                <LinkCard href="/cadence231/orctclcap.pdf" title="TCL Solutions" />
                <LinkCard href="/cadence231/sch2cap.pdf" title="Translating Designs from PSpice Schematics to Capture" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">Capture Component Information System (CIS)</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/cap_ref.pdf" title="Reference Guide" />
                <hr>
                <LinkCard href="/cadence231/cisug.pdf" title="User Guide" />
                <hr>
                <LinkCard href="/cadence231/cisKPNS.pdf" title="Known Problems and Solutions" />
                <LinkCard href="/cadence231/capPN.pdf" title="What's New" />
            </ul>
        </div>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Design Entry HDL</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/conref.pdf" title="Reference Guide" />
            <hr>
            <LinkCard href="/cadence231/concepthdl.pdf" title="User Guide" />
            <LinkCard href="/cadence231/con2cm.pdf" title="Constraint Manager User Guide" />
            <LinkCard href="/cadence231/checkplus.pdf" title="Rules Checker User Guide" />
            <LinkCard href="/cadence231/concepthdl_ut_ug.pdf" title="Utilities User Guide" />
            <hr>
            <LinkCard href="/cadence231/concepthdlKPNS.pdf" title="Known Problems and Solutions" />
            <LinkCard href="/cadence231/concepthdl_wn.pdf" title="What's New" />
            <hr>
            <LinkCard href="/cadence231/conCM_tut.pdf" title="Constraint Manager Tutorial" />
            <LinkCard href="/cadence231/edif3conuser.pdf" title="EDIF 300 User Guide" />
            <LinkCard href="/cadence231/fsp_dehdl.pdf" title="FPGA System Planner Flow Guide" />
            <LinkCard href="/cadence231/des_reuse.pdf" title="Reuse Tutorial" />
            <LinkCard href="/cadence231/concepthdl_tut.pdf" title="Tutorial" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">DesignTrue DFM Rule Aggregator</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/cmdfmagr.pdf" title="User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Doc Assistant</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/cdadoc.pdf" title="User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">ECAD-MCAD Library Creator</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/lc_ug.pdf" title="User Guide" />
            <hr>
            <LinkCard href="/cadence231/lc_faq.pdf" title="Frequently Asked Questions" />
            <hr>
            <LinkCard href="/cadence231/lc_tut.pdf" title="Tutorial" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Engineering Data Management (EDM) / Pulse</h2>
        <ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/pulsexmlsync.pdf" title="Data Exchange Reference Guide" />
            <hr>
            <LinkCard href="/cadence231/pulsedbadmin.pdf" title="Database Administrator User Guide" />
            <LinkCard href="/cadence231/pulsedbeditor.pdf" title="Database Editor User Guide" />
            <LinkCard href="/cadence231/tdaug.pdf" title="Design Management User Guide" />
            <LinkCard href="/cadence231/pulseflowman.pdf" title="Flow Manager User Guide" />
            <LinkCard href="/cadence231/pulselibdistribution.pdf" title="Library Distribution User Guide" />
            <LinkCard href="/cadence231/libflow.pdf" title="Library Flow User Guide" />
            <LinkCard href="/cadence231/pulselibimport.pdf" title="Library Import User Guide" />
            <LinkCard href="/cadence231/pulseobjects.pdf" title="Object Import User Guide" />
            <LinkCard href="/cadence231/pulsereportgenerator.pdf" title="Report Generator User Guide" />
            <LinkCard href="/cadence231/pulse_utils.pdf" title="Version Management Utilities Guide" />
            <hr>
            <LinkCard href="/cadence231/pulse_faq.pdf" title="Frequently Asked Questions" />
            <LinkCard href="/cadence231/pulseKPNS.pdf" title="Known Problems and Solutions" />
            <LinkCard href="/cadence231/pulsePN.pdf" title="What's New" />
            <hr>
            <LinkCard href="/cadence231/pulsemigration.pdf" title="Converting Non-Allegro EDM Designs to Allegro EDM-Compatible Designs" />

            <LinkCard href="/cadence231/pulse_cnfg_over.pdf" title="Pulse Basic Configuration Concepts" />
            <LinkCard href="/cadence231/pulseconfig.pdf" title="Pulse Configuration Guide" />
            <LinkCard href="/cadence231/pulse_maintenance_ug.pdf" title="Pulse Maintenance Guide" />
            <LinkCard href="/cadence231/PLMPulse_Libsync.pdf" title="Library Synchronization Between PLM Systems and Allegro X Pulse" />
            <LinkCard href="/cadence231/algropulse.pdf" title="Working in the Allegro X Pulse Environment" />
        </ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">FPGA System Planner (FSP)</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/fspref.pdf" title="FSP TCL Reference" />
            <hr>
            <LinkCard href="/cadence231/fsp_ug.pdf" title="User Guide" />
            <hr>
            <LinkCard href="/cadence231/fsp_wn.pdf" title="What's New" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Integrity System Planner</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/ispapdug.pdf" title="User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Library Explorer</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/libexp.pdf" title="Library Explorer User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Packager-XL</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/PXL_Msg_Ref.pdf" title="Message Reference" />
            <LinkCard href="/cadence231/pxl_ref.pdf" title="Reference" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Part Developer</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/pdv.pdf" title="Part Developer User Guide" />
            <LinkCard href="/cadence231/se_ug.pdf" title="Symbol Editor User Guide" />
            <hr>
            <LinkCard href="/cadence231/pdv_tut.pdf" title="Part Developer Tutorial" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Part Information Manager</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/comp_browser.pdf" title="Part Information Manager User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Part Table Editor</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/ptf.pdf" title="Part Table Editor User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">PCB Editor</h2>
        <div class="doc-category">
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/orcadpcbqrc.pdf" title="Menu Reference" />
                <LinkCard href="/cadence231/cmdrefmast.pdf" title="Physical Layout Command Reference" />
                <hr>
                <LinkCard href="/cadence231/algro3Dcanvas.pdf" title="3D Canvas User Guide" />
                <LinkCard href="/cadence231/algro3dX.pdf" title="3DX Canvas User Guide" />
                <hr>
                <LinkCard href="/cadence231/pcbeditor_faq.pdf" title="Frequently Asked Questions" />
                <LinkCard href="/cadence231/algKPnS.pdf" title="Known Problems and Solutions" />
                <LinkCard href="/cadence231/algPN.pdf" title="What's New" />
                <hr>
                <LinkCard href="/cadence231/algro_tut.pdf" title="Getting Started" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">PCB Editor Constraint Manager</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/cmref.pdf" title="Reference Guide" />
                <LinkCard href="/cadence231/dfmcons.pdf" title="Analysis Modes Constraints Reference" />
                <LinkCard href="/cadence231/cmskill.pdf" title="SKILL Reference" />
                <hr>
                <LinkCard href="/cadence231/cmug.pdf" title="User Guide" />
                <hr>
                <LinkCard href="/cadence231/consMgrKPnS.pdf" title="Known Problems and Solutions" />
                <hr>
                <LinkCard href="/cadence231/algroCM_tut.pdf" title="Tutorial" />
                <LinkCard href="/cadence231/cmadvcnstut.pdf" title="Advanced Constraints Tutorial" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">PCB Editor RF-PCB</h3>
            <ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/awrtoalgro.pdf" title="AWR Microwave Office-Allegro RF Design User Guide" />
            <LinkCard href="/cadence231/discrete_to_ads.pdf" title="Discrete Library to Keysight ADS Translator User Guide" />
            <LinkCard href="/cadence231/rfpcbfe.pdf" title="IFF Import User Guide" />
            <LinkCard href="/cadence231/rfpcbfe_layout_driven.pdf" title="Layout-Driven RF Design User Guide" />
            <LinkCard href="/cadence231/rfpcblibref.pdf" title="Library Reference" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">PCB Editor Commands</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/acoms.pdf" title="A Commands" />
                <LinkCard href="/cadence231/bcoms.pdf" title="B Commands" />
                <LinkCard href="/cadence231/ccoms.pdf" title="C Commands" />
                <LinkCard href="/cadence231/dcoms.pdf" title="D Commands" />
                <LinkCard href="/cadence231/ecoms.pdf" title="E Commands" />
                <LinkCard href="/cadence231/fcoms.pdf" title="F Commands" />
                <LinkCard href="/cadence231/gcoms.pdf" title="G Commands" />
                <LinkCard href="/cadence231/hcoms.pdf" title="H Commands" />
                <LinkCard href="/cadence231/icoms.pdf" title="I Commands" />
                <LinkCard href="/cadence231/jcoms.pdf" title="J Commands" />
                <LinkCard href="/cadence231/kcoms.pdf" title="K Commands" />
                <LinkCard href="/cadence231/lcoms.pdf" title="L Commands" />
                <LinkCard href="/cadence231/mcoms.pdf" title="M Commands" />
                <LinkCard href="/cadence231/ncoms.pdf" title="N Commands" />
                <LinkCard href="/cadence231/ocoms.pdf" title="O Commands" />
                <LinkCard href="/cadence231/pcoms.pdf" title="P Commands" />
                <LinkCard href="/cadence231/qcoms.pdf" title="Q Commands" />
                <LinkCard href="/cadence231/rcoms.pdf" title="R Commands" />
                <LinkCard href="/cadence231/scoms.pdf" title="S Commands" />
                <LinkCard href="/cadence231/tcoms.pdf" title="T Commands" />
                <LinkCard href="/cadence231/ucoms.pdf" title="U Commands" />
                <LinkCard href="/cadence231/vcoms.pdf" title="V Commands" />
                <LinkCard href="/cadence231/wcoms.pdf" title="W Commands" />
                <LinkCard href="/cadence231/xcoms.pdf" title="X Commands" />
                <LinkCard href="/cadence231/ycoms.pdf" title="Y Commands" />
                <LinkCard href="/cadence231/zcoms.pdf" title="Z Commands" />
            </ul>
        </div>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">PCB Librarian</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/pdvWN.pdf" title="What's New" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">PCB Router</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/spcmdref.pdf" title="Command Reference" />
            <LinkCard href="/cadence231/spdlr.pdf" title="Language Reference" />
            <hr>
            <LinkCard href="/cadence231/spug.pdf" title="User Guide" />
            <LinkCard href="/cadence231/algrteKPNS.pdf" title="Known Problems and Solutions" />
            <hr>
            <LinkCard href="/cadence231/sptut.pdf" title="Tutorial" />
		</ul>
    </div>


    <div class="doc-category">
        <h2 class="doc-category-title">Presto</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/xquickref.pdf" title="Interface and Commands Reference Guide" />
            <hr>
            <LinkCard href="/cadence231/pcbeditorX.pdf" title="User Guide" />
            <hr>
            <LinkCard href="/cadence231/algroviewer.pdf" title="Free Physical Viewer" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">PSpice</h2>
        <div class="doc-category">
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/pspDMIRef.pdf" title="Device Modeling Interface API Reference" />
                <LinkCard href="/cadence231/psptclcmdref.pdf" title="TCL Command Reference" />
                <hr>
                <LinkCard href="/cadence231/psp_matlab_ug.pdf" title="MATLAB Interface User Guide" />
                <hr>
                <LinkCard href="/cadence231/pspKPNS.pdf" title="Known Problems and Solutions" />
                <LinkCard href="/cadence231/pspPN.pdf" title="What's New" />
                <hr>
                <LinkCard href="/cadence231/pspSysDsnC.pdf" title="Device and System Modeling in C/C++ and SystemC Tutorial" />
                <LinkCard href="/cadence231/pspmdlappn.pdf" title="Library Models Data Book" />
                <LinkCard href="/cadence231/psp_matlab_tut.pdf" title="MATLAB Co-Simulation Tutorial" />
                <LinkCard href="/cadence231/psptclsample.pdf" title="TCL Sample Scripts" />
                <LinkCard href="/cadence231/ekv26.pdf" title="The EPFL-EKV MOSFET Model Equations for Simulation" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">PSpice Analog/Digital (A/D)</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/pspqrc.pdf" title="Quick Reference" />
                <LinkCard href="/cadence231/pspcref.pdf" title="Reference Guide" />
                <LinkCard href="/cadence231/psp_modeling_apps.pdf" title="Modeling Applications Reference Guide" />
                <hr>
                <LinkCard href="/cadence231/pspug.pdf" title="User Guide" />
                <hr>
                <LinkCard href="/cadence231/psphlp.pdf" title="Help" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">PSpice Advanced Analysis (AA)</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/pspaugca.pdf" title="User Guide" />
                <hr>
                <LinkCard href="/cadence231/pspaaKPNS.pdf" title="Known Problems and Solutions" />
                <hr>
                <LinkCard href="/cadence231/optimChapt.pdf" title="Help" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">PSpice Magnetic Parts Editor</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/magpeug.pdf" title="User Guide" />
                <hr>
                <LinkCard href="/cadence231/magparted.pdf" title="Help" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">PSpice Model Editor</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/mdledthelp.pdf" title="Help" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">Model Integrity</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/micmdref.pdf" title="Command Reference" />
                <hr>
                <LinkCard href="/cadence231/miug.pdf" title="User Guide" />
            </ul>
        </div>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Project Manager</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/projmgr.pdf" title="User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Sigrity</h2>
        <div class="doc-category">
            <h3 class="doc-category-title">Sigrity Aurora</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/sigrity_aurora.pdf" title="Flow Guide" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">Sigrity PI</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/algpibase.pdf" title="Flow Guide" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">Sigrity SI</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/squg.pdf" title="User Guide" />
                <LinkCard href="/cadence231/sqdml.pdf" title="Device Modeling Language User Guide" />
                <LinkCard href="/cadence231/algsigsi_integ.pdf" title="Flow Guide" />
                <hr>
                <LinkCard href="/cadence231/sqPN.pdf" title="What's New" />
                <hr>
            <LinkCard href="/cadence231/HS_Pkg_flows.pdf" title="High Speed Package Flows" />
            </ul>
        </div>

        <div class="doc-category">
            <h3 class="doc-category-title">Sigrity Topology Workbench</h3>
            <ul role="list" class="link-card-grid">
                <LinkCard href="/cadence231/topwbCmdRef.pdf" title="Tcl Command Reference" />
                <hr>
                <LinkCard href="/cadence231/topXpUserGuide.pdf" title="User Guide" />
                <hr>
                <LinkCard href="/cadence231/topXpFAQ.pdf" title="Frequently Asked Questions" />
                <LinkCard href="/cadence231/topXpKPNS.pdf" title="Known Problems and Solutions" />
                <LinkCard href="/cadence231/topXpWN.pdf" title="What's New" />
                <hr>
                <LinkCard href="/cadence231/topXpPBAtutorial.pdf" title="Parallel Bus Analysis Tutorial" />
                <LinkCard href="/cadence231/topXpSIETutorial.pdf" title="Topology Explorer Tutorial" />
            </ul>
        </div>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">SigWave</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/sigwave_ref.pdf" title="SigWave Command Reference" />
            <hr>
            <LinkCard href="/cadence231/sigwave_ug.pdf" title="SigWave User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">SigXplorer</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/sigxpref.pdf" title="Command Reference" />
            <hr>
            <LinkCard href="/cadence231/sigxpug.pdf" title="User Guide" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">Stimulus Editor</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/stmed.pdf" title="Stimulus Editor Help" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">System Architect / System Connectivity Manager (SCM)</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/comm.pdf" title="TCL Commands" />
            <hr>
            <LinkCard href="/cadence231/scm_ug.pdf" title="User Guide" />
            <LinkCard href="/cadence231/scmcm.pdf" title="Constraint Manager User Guide" />
            <hr>
            <LinkCard href="/cadence231/dsKPNS.pdf" title="Known Problems and Solutions" />
            <hr>
            <LinkCard href="/cadence231/ade_tut.pdf" title="Tutorial" />
		</ul>
    </div>

    <div class="doc-category">
        <h2 class="doc-category-title">System Capture</h2>
		<ul role="list" class="link-card-grid">
            <LinkCard href="/cadence231/scap_tcl_comms.pdf" title="TCL Commands Reference Guide" />
            <hr>
            <LinkCard href="/cadence231/scug.pdf" title="User Guide" />
            <LinkCard href="/cadence231/unifiedsearch_qsg.pdf" title="Unified Search User Guide" />
            <hr>
            <LinkCard href="/cadence231/scap_faq.pdf" title="Frequently Asked Questions" />
            <LinkCard href="/cadence231/scap_kpns.pdf" title="Known Problems and Solutions" />
            <LinkCard href="/cadence231/scap_wn.pdf" title="What's New" />
            <hr>
            <LinkCard href="/cadence231/syscap_pulse_ug.pdf" title="Design Data Management" />
            <LinkCard href="/cadence231/dsn_integ_ug.pdf" title="Design Integrity and Analysis" />
            <LinkCard href="/cadence231/syscap_psp_tut.pdf" title="Getting Started - PSpice A/D" />
            <LinkCard href="/cadence231/ul_ug.pdf" title="Library Authoring and Editing" />
            <LinkCard href="/cadence231/scap_dehdl_migration.pdf" title="Migrating DE-HDL Designs" />
            <LinkCard href="/cadence231/scap_orcad_migration.pdf" title="Migrating OrCAD Capture Designs" />
            <LinkCard href="/cadence231/pspSysCap.pdf" title="PSpice A/D Simulations" />
            <LinkCard href="/cadence231/scap_tutorial.pdf" title="Schematic Sign Off Tutorial" />
            <LinkCard href="/cadence231/scap_flow.pdf" title="System-Level Design Methodology Guide" />
		</ul>
    </div>
</body>

<style>
	body {
        font-family: Arial, Helvetica, sans-serif;
		margin: auto;
		width: 800px;
	}
    /* Documentation categories */
    .doc-category {
        border: 1px solid grey;
        padding: 0 1em;
        margin: 20px 0;
    }
    .doc-category-title {
        background-color: white;
        margin: -10px auto 0 auto;
        text-align: center;
        padding: 0 10px;
        width: max-content;
    }
    /* Links within categories */
    :global(a) {
        text-decoration: none;
    }
    :global(h2) { /* Override the margin for LinkCard text */
        margin: 0;
    }
	.link-card-grid {
		display: grid;
		gap: 4px;
		padding: 0;
	}
    /* Link dividers */
    hr {
        width: 100%;
        opacity: 0.1;
    }
</style>