---
import Layout from "../layouts/Layout.astro";
import ItemCard from "../components/ItemCard.astro";
---

<Layout title="Hardware">
    <main>
        <ItemCard
            links={[["High Voltage Generator", "/hv-generator"]]},
            imageSrc="/hv-generator.png">
            <p>Generates continuous 30 kV arc from 3 V source.</p>
            <p>Simulated with LTSpice, PCB designed in KiCAD.</p>
        </ItemCard>
        <ItemCard
            links={[["Even Higher Voltage Generator", ""]]},
            imageSrc="/hv-generator2.png">
            <p>I seem to have an affinity for high voltages.</p>
            <p>Simulated with PSpice, PCB designed in Cadence Allegro.</p>
        </ItemCard>
    </main>
</Layout>
