---
import Layout from "../layouts/Layout.astro";
import ItemCard from "../components/ItemCard.astro";
---

<Layout title="HV Generator" backHref="/hardware">
    <main>
        <ItemCard
            links={[]}, imageSrc="/hv-generator-schematic.png">
            <p>The circuit consists of 2 parts: Oscillator (T1 primary) and step-up (T1 secondary).</p>
            <p>The oscillator is described in detail below. In summary, it charges C3 to 430 V, then discharges across T2 for the final 30 kV arc.</p>
            <p>D1 protects MOSFET Q1 from high voltage pulses, D6-D9 clamps the maximum voltage on C3 and C4 to 440 V and 40 V respectively, R2 limits the current to SCR D11 when C4 discharges.</p>
        </ItemCard>
        <ItemCard
            links={[]}, imageSrc="/hv-generator-sim1.png">
            <p>Circuit model for simulation is shown on the left. L0 and L2 are coupled to provide positive feedback.</p>
        </ItemCard>
        <ItemCard
            links={[]}, imageSrc="/hv-generator-sim2.png">
            <p>The vpri (blue) spike at t=0 is L0 charging, feedback discharges gate vg (red). Next, biasing network charges vg and MOSFET begins conducting. L0 discharging and supply provides current through MOSFET, IR drop decreases v1 (green) and feedback charges vg, increasing current.</p>
            <p>Current through L0 decreases faster than MOSFET current. At t=18 ms L0 charges again, producing vpri spike and discharging vg to repeat the process.</p>
        </ItemCard>
        <ItemCard
            links={[]}, imageSrc="/hv-generator-sim3.png">
            <p>Observe that without an inductor for feedback there is still a pulse at t=4 ms. However, without discharging vg (red), v1 (green) settles and it stops oscillating.</p>
        </ItemCard>
    </main>
</Layout>
