---
import Layout from "../layouts/Layout.astro";
import ItemCard from "../components/ItemCard.astro";
---

<Layout title="HV Generator">
    <main>
        <ItemCard
            links={[]}, imageSrc="/hv-generator-schematic.png">
            <p>This circuit generates 30 KV at the spark gap on the right from a 3 V input at 0.6 A.</p>
            <p>T1 is operated in flyback to charge C3 to 430 V, then discharges across T2 for the final 30 kV arc.</p>
            <p>The left side of T1 forms an oscillator. Upon power-up, current flows through T1 3 to 4, this is reflected in 1 to 2. As drain current rises, 1 to 2 current rises. Thus, the voltage at the gate rises, further increasing drain current per FET equation.</p>
            <p>Eventually, the drain current cannot increase sufficiently, the inductor raises the drain voltage to increase the drain current. The gate voltage further rises and the inductor further raises drain voltage. This continues until the inductor is discharged.</p>
            <p>The 4 to 3 (drain to supply) voltage is reflected in the secondary, charging C3 through D2. Once C3 reaches 400 V, the zeners D3, D4 conduct, charging C4. Once C3 charges to 430 V thus C4 charged to 30 V, DIAC D10 conducts to trigger the larger SCR D11 to discharge C3 across T2. The DIAC is necessary as T1 operated in flyback does not have sufficient current to trigger SCR D11 on its own.</p>
            <p>D1 protects MOSFET Q1 from high voltage pulses, D6-D9 clamps the maximum voltage on C3 and C4 to 440 V and 40 V respectively, R2 limits the current to SCR D11 when C4 discharges.</p>
        </ItemCard>
        <ItemCard
            links={[]}, imageSrc="/hv-generator-schematic-bjt.png">
            <p>We can achieve a similar circuit with BJTs, reversing T1 coil 1 to 2.</p>
            <p>Upon power-up, Q1 is in saturation. Current flows down L1, this is reflected in L2 <em>right to left</em>. As collector current rises, base current falls. Thus, the voltage at the base rises, further increasing collector current per BJT equation.</p>
            <p>Eventually, the collector current cannot increase sufficiently, the inductor raises the collector voltage to increase the collector current. The base voltage further rises and the inductor further raises collector voltage. This continues until the inductor is discharged.</p>
        </ItemCard>
    </main>
</Layout>
