<!-- Navigation bar -->
<header class="navbar">
    <a class="navhome" href="/">Johnny Cai</a>
    <a class="navlink" href="/hardware/">Hardware</a>
    <a class="navlink" href="/software/">Software</a>
</header>

<style>
    .navbar {
        background-color: whitesmoke;
        overflow: hidden;
    }
    .navbar a {
        color: black;
    }
    .navbar a:hover {
        background-color: #ddd;
    }
    /* Links */
    .navhome {
        float: left;
        font-size: large;
        font-weight: bold;
        padding: 12px 40px;
    }
    .navlink {
        float: left;
        font-size: large;
        padding: 12px 20px;
    }
</style>
