---
interface Props {
	title: string;
	backHref?: string;
}

const { title, backHref=null } = Astro.props;

const showBack = backHref != null;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Website" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<div class="main-content">
			<div id="title-div">
				{showBack && (<a href={backHref}>&larr; Back</a>)}
				<h1 id={showBack ? "title-h1-noback" : "title-h1-back"}>{title}</h1>
			</div>
			<slot />
		</div>
	</body>
</html>

<!-- Global style configuration -->
<style is:global>
	a {
		color: gray;
		text-decoration: none;
	}
	body {
		padding: 0;
		margin: 0;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	.main-content {
		padding: 0 1rem;
	}
</style>

<style>
	#title-div {
		display: flex;
	}
	#title-div a {
		color: black;
		float: left;
        font-size: large;
		margin: auto;
		text-align: center;
		width: 100px;
	}
	#title-div a:hover {
		background-color: #ddd;
	}
	#title-h1-back {
		float: left;
        padding: 4px calc(50% - 100px) 4px calc(50% - 100px);
		text-align: center;
		width: 200px;
	}
	#title-h1-noback {
		float: left;
        padding: 4px calc(50% - 100px) 4px calc(50% - 200px);
		text-align: center;
		width: 200px;
	}
</style>